<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="All about txtsd and their antics" />
  <meta name="author" content="txtsd" />
  <meta name="keywords" content="txtsd, minecraft, Arch Linux, Free and Open Source Software, FOSS, FLOSS, copyleft licenses, GPL, AGPL, autoplaying bots" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" async />
  <link rel="stylesheet" type="text/css" href="/css/style.css" async />
  <link rel="icon" href="/img/oldman.svg" async />
  <link rel="preload" as="font" type="font/woff2" href="/font/poppins-v20-latin-regular.woff2" crossorigin />
  <link rel="preload" as="font" type="font/woff2" href="/font/source-code-pro-v22-latin-regular.woff2" crossorigin />
  <link rel="preload" as="font" type="font/woff2" href="/font/vollkorn-v21-latin-regular.woff2" crossorigin />
  <title>{{title}} — I have a quest!</title>
</head>

<body>
  <header>
    <img id="hilt" src="/img/sword_base.svg" />
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/misc">Misc</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <img id="tip" src="/img/sword_tip.svg" />
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    The content for this site is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a>. The <a href="https://git.sr.ht/~txtsd/ihavea.quest">code for this site</a> is <a href="https://opensource.org/licenses/AGPL-3.0">AGPL-3.0-only</a>.
  </footer>
</body>

</html>
