---
layout: layouts/base.njk
---
<article>
  <header>
    <h2>{{ title }}</h2>
    <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
  </header>
  {{ content | safe }}
</article>
